/* Smooth transition */
body,
.card,
.table,
.navbar {
    transition: background-color 0.4s ease,
                color 0.4s ease;
}

/* ===== DARK MODE ===== */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .table {
    color: white;
}

.dark-mode input,
.dark-mode select {
    background-color: #2b2b2b;
    color: white;
    border-color: #555;
}

.dark-mode .navbar {
    background-color: #000 !important;
}